{
    "parser": "@babel/eslint-parser",
    "env": {
      "browser": true
    },
    "extends": [
      "eslint:recommended",
      "google",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:react/recommended"
    ],
    "rules": 
        {
        "require-jsdoc": "off"
      }
  }
  